* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    text-align: center;
    max-width: 100%;
}

nav {
    background-color: rgb(9, 7, 7);
}

.container {
    max-width: 1200px;
    margin: auto;
    
}
nav ul li{
    padding: 5px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li,
a {
    color: white;
    font-size: 12px;
}

nav ul li:nth-child(2) a {
    color: yellow;
    font-size: 12px;
}

nav ul li:nth-child(2) span {
    margin-left: 6px;
    font-size: 12px;
}

nav ul li:nth-child(3) {
    position: relative;
}

nav ul li:nth-child(3) input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 6px;
    outline-style: none;
}

nav ul li:nth-child(3) img {
    position: absolute;
    height: 27px;
    width: 27px;
    /* width: 40px; */
    right: 8px;
    top: 7px;
    cursor: pointer;
}

nav ul li:nth-child(4) button {
    height: 30px;
    padding: 0 8px;

    /* text-align: center;
    justify-content: center;
    align-items: center; */
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 1px solid;
}

nav ul li:nth-child(4) button img {
    margin-right: 6px;
}

nav ul li:nth-child(4) button:hover {
    background-color: yellow;
}

nav ul li:nth-child(5) a {
    font-size: 12px;
    text-align: center;
}

nav ul li:nth-child(5):hover a {
    color: yellow;
}

nav ul li:nth-child(6) a {
    color: yellow;
}

nav ul li:nth-child(7) a:hover,
nav ul li:nth-child(8) a:hover,
nav ul li:nth-child(9) a:hover {
    color: yellow;
}

.btn-content {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: yellow;
    display: inline-block;
    margin-right: 6px;
}

.btn-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: yellow;
    /* z-index: -1; */
    display: block;
    pointer-events: none;
    animation: btn-trans 1s linear infinite;
}

@keyframes btn-trans {
    from {
        opacity: 0.4;
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}

/* *************************** Menu bar *********** */
.menu-bar{
    background-color: rgb(255, 204, 0);
}
.menu-bar-content ul li a{
    color: black;
    font-size: 15px;
}

.menu-bar-content ul{
    display: flex;
    justify-content: space-between;
}
.menu-bar-content ul li{
    padding: 20px 10px;
    transition: all 0.2s ease;
}
.menu-bar-content ul li:hover{
    background-color: rgb(255, 253, 253);
    height: 100%;
}

.menu-bar-content ul li a i{
    margin-right: 6px;
}
.menu-bar-content ul li:nth-child(9){
    position: relative;
}
.menu-bar-content ul li:nth-child(9)::before{
    position: absolute;
    content: "Giảm 5%";
    font-size: 10px;
    color: white;
    display: block;
    height: 15px;
    width: 45px;
    background-color: rgb(255, 62, 91);
    border-radius: 5px;
    right: -15px;
    top: 1px;
    padding-left: 5px;
    padding-top: 4px;
}
.menu-bar-content ul li:nth-child(9)::after{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color: rgb(255, 62, 91);
    display: block;
    right: 10px;
    top: 15px;
    transform: rotate(45deg);
}